{% extends "@KEURGUIimmo/layout.html.twig" %}


{% block body %}
{% block header %}
{{parent()}}
{% endblock %}


<section  class="row" style="height:355px; margin-top:0px" >
 <div class="col-12"> <img src="{{ asset('images/m1.jpg') }}" style="height:355px; width:100%" alt=""></div>
<div class="col"style="z-index:1 ; position:absolute;background-color: Grey; margin-top:50px;height:100px;opacity: 0.8;">

{# <div class="row">
<div class="col-2"style="font-size:25px;color:white;">{{ form_label(form.types) }}{{ form_widget(form.types,{'attr': {'class': 'task_field'}}) }}</div>
<div class="col-1"></div>
<div class="col-2"style="font-size:25px;color:white;">{{ form_label(form.localites) }}{{ form_widget(form.localites) }}</div>
<div class="col-1"></div>
<div class="col-2"style="font-size:25px;color:white;">{{ form_label(form.prix) }}{{ form_widget(form.prix) }}</div>
<div class="col-1"></div>
<div class="col-2" style="margin-top:45px;">{{ form_label(form.chercher) }}{{ form_widget(form.chercher) }}</div>
<div class="col-1"></div>
</div>
</div> #}


 </section>
  
{% block style %}
<style>

img{
  width:300px;
}

</style>
{% endblock %}
 
<div class="row">

{% for use in x %}
<div class="col-md-4">
<div class="container">
 <div class="card" style="width:300px;">
      {% set c = 0 %}
  {% for i in use.image %}
    {% if c == 0 %}
       <td scope="col" class="table-info">  <img src="{{ asset('images/'~i.image) }}" class="img-circle" alt="Leanna!"></td>
       {% set c = c+ 1 %} 
         {% endif %}
  {% endfor %} 
         <div class="card-body">
      <h4 class="card-title">{{ use.type.nom }}:{{use.nom }}</h4>
       <h4 class="card-title">{{use.localite }}</h4>

      <p >{{use.description }}</p>
   <a href="{{path('reserver',{'id':app.session.get('id_client') ,'idb':use.id})}}">reserver</a>
    </div>
  </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
