{% extends "@KEURGUIimmo/layout.html.twig" %}



{% block body %}
{% block header %}
{{parent()}}
{% endblock %}
  
 {# <table class="table table-bordered table-striped" id="table_id" class="display" data-page-length='5'>
<thead>
<tr>
<th>id</th>
<th>date de reservation</th>
<th>client</th>
<th>nom du bien</th>
</tr>
</thead>


{% block style %}
<style>
img{
  width:100px;
}
</style>
{% endblock %}
 <tbody>
{% for use in x %}
       <tr>
  
     

  <td scope="col" class="table-info">{{use.id}}</td>
          <td scope="col" class="table-info">{{use.date}}</td>

    <td scope="col" class="table-info">{{use.client.nomComplet}}</td>
        <td scope="col" class="table-info">   <a href="{{path('contrat',{'idb':bien.id,'idc':client.id})}}">valider</a>
</td>

     
    <td>  {% else %}
      aucun utilisateur de ce login trouver </td>
</tr> 
{% endfor %}
  
   </tbody>
</table>

{% endblock %} #}


<table class="table table-bordered table-striped" id="table_id" class="display" data-page-length='5'>
 <thead>
<tr>
<th>id</th>
<th>date de reservation</th>
<th>client</th>
<th>nom du bien</th>

</tr>
</thead>

<tbody>
{% for use in x %}

<tr>
<td>{{use.id}}</td>
<td>{{use.date}}</td>
<td>{{use.client.nomComplet}}</td>


<td><a href="{{path('contrat',{'idb':bien.id,'idc':client.id})}}">valider</a></td>



{%else%}
<td colspan="6">Aucun utilisateur</td>

{%endfor%}
</tr>
 </tbody>
</table>
{% endblock %}

